@import "tailwindcss";
@plugin '@tailwindcss/typography';
@theme {
  --color-*: initial;
}
/* 
  Custom themes for daisyUI
  List of themes: https://daisyui.com/docs/themes/#list-of-themes
  I _struggled_ to get this to work until I found this post: https://dav.one/setting-up-astro-project-with-tailwindcss-and-daisyui/
*/
@plugin "daisyui" {
  themes: light, dark, cupcake --default, forest --prefersdark;
}
/* @import "tailwindcss"; */

/* Global styles */
article a {
  word-break: break-word;
  hyphens: auto;
}
